@{
    Layout = "_Layout";
}
<html>
<body>
    <h1>Welcome to Bloob University Registrar!</h1>
    <h2>@Html.ActionLink("See all courses", "Index", "Courses")</h2>
    <h3>@Html.ActionLink("See all students", "Index", "Students")</h3>
    <h3>@Html.ActionLink("See all departments", "Index", "Departments")</h3>
    <h3>@Html.ActionLink("See all majors", "Index", "Majors")</h3>
</body>
</html>