@{
    Layout = "_Layout";
}

@model UniRegistrar.Models.Major

<h2>Are you sure you want to delete this major?</h2>

@Html.DisplayNameFor(model => model.MajorName): @Html.DisplayFor(model => model.MajorName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to list of majors", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>